/* Mediaquery for contact circles */

@media screen and (max-width:600px) {
    .circles {
        flex-direction: column;
    }
}

/* Mediaqueries for timeline section */

@media screen and (min-width: 1013px) {
    .timeline {
        padding: 2rem;
    }

    .timeline:before {
        left: calc(50% - 1px);
        right: auto;
    }
}

@media screen and (min-width: 1013px) {
    .timeline__item {
        width: 44%;

    }

    .timeline__item:nth-of-type(2n) {
        float: right;
        margin: 32px 16px 32px 16px;

        border-image: linear-gradient(to right, #1A1033 0%, #725A93 100%);
        border-image-slice: 1;

    }

    .timeline__item:nth-of-type(2n):before {
        right: auto;
        left: -10px;

        border-color: transparent transparent #725A93 #725A93;

    }
}

@media screen and (min-width: 700px) {
    .timeline__item--year {
        text-align: center;
        margin: 0 auto;
    }

    .timeline__item--year:nth-of-type(2n) {
        float: none;
        margin: 0 auto;
        border-image: none;
    }

    .timeline__item--year:nth-of-type(2n):before {
        display: none;
    }
}