.skill { 
	list-style: none;
	font: 12px "Helvetica Neue",
	Arial,
	Helvetica,
	Geneva,
	sans-serif;	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

.skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

.skill li h3 { 
	position:relative; 
    top:-35px;
    color:#fff;
    font-family: 'Poiret One', cursive;
}


.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.html {
    width:80%;
    animation:jquery 2s ease-out;  
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top,#A6F3B3, #13F539);
	background-image: -moz-linear-gradient(top, #A6F3B3, #13F539);
	background-image: -ms-linear-gradient(top, #A6F3B3, #13F539);
	background-image: -o-linear-gradient(top, #A6F3B3, #13F539);
	background-image: linear-gradient(top, #A6F3B3, #13F539);
}

.css {
    width:75%;
    animation:jquery 2s ease-out;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
	background-image: -webkit-linear-gradient(top,#A6F3B3, #13F539);
	background-image: -moz-linear-gradient(top, #A6F3B3, #13F539);
	background-image: -ms-linear-gradient(top, #A6F3B3, #13F539);
	background-image: -o-linear-gradient(top, #A6F3B3, #13F539);
	background-image: linear-gradient(top, #A6F3B3, #13F539);
}

.javascript {
    width:55%;
    animation:jquery 2s ease-out;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #F7B879, #F58C23);
	background-image: -moz-linear-gradient(top, #F7B879, #F58C23);
	background-image: -ms-linear-gradient(top, #F7B879, #F58C23);
	background-image: -o-linear-gradient(top, #F7B879, #F58C23);
	background-image: linear-gradient(top, #F7B879, #F58C23);
}

.jquery {
    width:65%;
    animation:jquery 2s ease-out;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #CCDC61, #F6E233);
	background-image: -moz-linear-gradient(top, #CCDC61, #F6E233);
	background-image: -ms-linear-gradient(top, #CCDC61, #F6E233);
	background-image: -o-linear-gradient(top, #CCDC61, #F6E233);
	background-image: linear-gradient(top, #CCDC61, #F6E233)	
}

.bootstrap {
    width:70%;
    animation:jquery 2s ease-out;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #CCDC61, #F6E233);
	background-image: -moz-linear-gradient(top, #CCDC61, #F6E233);
	background-image: -ms-linear-gradient(top,#CCDC61, #F6E233);
	background-image: -o-linear-gradient(top, #CCDC61, #F6E233);
	background-image: linear-gradient(top, #CCDC61, #F6E233)	
}

.react {
    width:20%;
    animation:jquery 2s ease-out;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F34A4A), to(#F90707));
	background-image: -webkit-linear-gradient(top, #F34A4A, #F90707);
	background-image: -moz-linear-gradient(top, #F34A4A, #F90707);
	background-image: -ms-linear-gradient(top, #F34A4A, #F90707);
	background-image: -o-linear-gradient(top, #F34A4A, #F90707);
	background-image: linear-gradient(top, #F34A4A, #F90707)	
}

@keyframes html {0%  { width:0px;} 100%{ width:100%;}  }
@keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@keyframes javascript      { 0%  { width:0px;} 100%{ width:65%;}  }

@-moz-keyframes html {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes javascript      { 0%  { width:0px;} 100%{ width:65%;}  }

@keyframes jquery       { 0%  { width:0px;} 100%{ width:100%;}  }
@keyframes bootstrap        { 0%  { width:0px;} 100%{ width:90%;}  }
@keyframes react      { 0%  { width:0px;} 100%{ width:65%;}  }


@-webkit-keyframes jquery       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes bootstrap        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes react      { 0%  { width:0px;} 100%{ width:65%;}  }
